# ---------------------------------------------------------------------------- #
# Telegram-API configuration v20170419 for Eggdrop                             #
#                                                                              #
# written by Eelco Huininga 2016-2017                                          #
# ---------------------------------------------------------------------------- #

# ---------------------------------------------------------------------------- #
# Configuration settings                                                       #
# ---------------------------------------------------------------------------- #
set tg_bot_id			123456789
set tg_bot_token		AABCD-EfGhIj_KlMn_OpQrStUvWxYz12345
set tg_poll_freq		5
set tg_owner_id			98765432
set tg_web_page_preview	false
set language			"english"

array set tg_channels {
	"-21436587"		"#lamer"
	"-171615141"		"#lamer-test"
}
